<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lcp.customviewtest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".Main3Activity" />
        <activity android:name="custom.downloading.LaunchActivity" />
        <activity android:name="custom.downloading.MainActivity" />
        <activity android:name="custom.downloading.DownLoadingActivity" />
        <activity android:name=".CheckBoxTest">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <service
            android:name=".MyAccessibilityService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="custom.spinnerloading.SpinnerLoadingActivity" />
        <activity android:name="custom.floatingbutton.FloatButtonActivity" />
        <activity android:name="custom.indicator.IndicatorChooseActivity" />
        <activity android:name="custom.indicator.IndicatorListActivity" />
        <activity android:name="custom.indicator.sample.SampleUnderlinesDefault" />
        <activity android:name="custom.indicator.sample.SampleUnderlinesNoFade" />
        <activity android:name="custom.indicator.sample.SampleUnderlinesStyledLayout" />
        <activity android:name="custom.indicator.sample.SampleUnderlinesStyledMethods" />
        <activity android:name="custom.indicator.sample.SampleUnderlinesStyledTheme" />
        <activity android:name="custom.indicator.sample.SampleCirclesDefault" />
        <activity android:name="custom.indicator.sample.SampleCirclesInitialPage" />
        <activity android:name="custom.indicator.sample.SampleCirclesSnap" />
        <activity android:name="custom.indicator.sample.SampleCirclesStyledLayout" />
        <activity android:name="custom.indicator.sample.SampleCirclesStyledMethods" />
        <activity android:name="custom.indicator.sample.SampleCirclesStyledTheme" />
        <activity android:name="custom.indicator.sample.SampleLinesDefault" />
        <activity android:name="custom.indicator.sample.SampleLinesStyledLayout" />
        <activity android:name="custom.indicator.sample.SampleLinesStyledTheme" />
        <activity android:name="custom.indicator.sample.SampleLinesStyledMethods" />
        <activity android:name="custom.indicator.sample.SampleTabsDefault" />
        <activity android:name="custom.indicator.sample.SampleTabsStyled" />
        <activity android:name="custom.indicator.sample.SampleTabsWithIcons" />
        <activity android:name="custom.indicator.sample.SampleTitlesDefault" />
        <activity android:name="custom.indicator.sample.SampleTitlesBottom" />
        <activity android:name="custom.indicator.sample.SampleTitlesCenterClickListener" />
        <activity android:name="custom.indicator.sample.SampleTitlesInitialPage" />
        <activity android:name="custom.indicator.sample.SampleTitlesStyledLayout" />
        <activity android:name="custom.indicator.sample.SampleTitlesStyledMethods" />
        <activity android:name="custom.indicator.sample.SampleTitlesStyledTheme" />
        <activity android:name="custom.indicator.sample.SampleTitlesTriangle" />
        <activity android:name="custom.indicator.sample.SampleTitlesWithListener" />
        <activity android:name="custom.scroll2cover.Scroll2CoverActivity" />
        <activity android:name="custom.infinitecards.InfiniteCardActivity" />
        <activity android:name="custom.viewpagertransformer.ViewPagerTransformerActivity"></activity>
        <activity android:name="custom.calendar.TextLineActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="custom.calendar.TimeSelectActivity"
            android:theme="@style/NoTitle">

        </activity>
    </application>

</manifest>